---
layout: 'base.njk'
---
<main data-barba="container" data-barba-namespace="article">
<div class="nav scrolled articlepage" >
    <a class="nav-item works" href="/#works">works</a>
    <a class="nav-item about" href="#about">about</a>
    <a class="nav-item kontakt" href="#kontakt">contact</a>
</div>
<div class="top-blur scrolled"></div>
<div class="content articlepage">
    <div class="header articlepage scrolled ">
        <div class="column-header-logo scrolled">
            <a href="/" class="logo scrolled"><img style="width: 48px;" src="/images/logo.svg"></a>
        </div>
        <div class="column-header scrolled">
          <div class="header-int scrolled">
            <div style="height: 0px;"></div>
            <div class="header-contacts scrolled">
              <div class="header-contacts-wrap scrolled">
                <div class="button-primary"><span class="button-label">Get CV</span></div>
                <div class="button-secondary"><span class="button-label">Email</span></div>
                <div class="button-secondary"><span class="button-label">Call</span></div>
                <div class="button-secondary icon"><img class="button-label" src="/images/linkedin.svg" alt=""></div>
                <div class="button-secondary icon"><img class="button-label" src="/images/telegram.svg" alt=""></div>
                <div class="button-secondary icon"><img class="button-label" src="/images/discord.svg" alt=""></div>
              </div>
            </div>
        </div>
            <div class="line-header articlepage"></div>
        </div>
    </div>
</div>

<section class="section articlepage" id="article">
    <div class="column-logo"></div>
    <div class="column-main articlepage">

      <div class="articlepage-card">
        <img class="articlepage-image" src="/static/{{ image_hero }}" alt="Hero image for {{ title }}">
        <div class="textbox">
          <h2>{{ title }}</h2>
          <div class="label-box">
            {% if tags %}
              {% for tag in tags %}
                <div class="label-pill">{{ tag }}</div>
              {% endfor %}
            {% endif %}
          </div>
          <p class="fine">{{ minutes }} minute read</p>
          <div class="summary-box first">
            <h3 class="summary">The What</h3>
            <p class="fine">{{ what }}</p>
          </div>
          <div class="summary-box">
            <h3 class="summary">The How</h3>
            <p class="fine">{{ how }}</p>
          </div>
          <div class="summary-box last">
            <h3 class="summary">The Challenge</h3>
            <p class="fine">{{ challenges }}</p>
          </div>
        <div class="article-content">
          {{ content | safe }}
        </div>
        

        </div>
      </div>

      <section id="about">
        <div class="spacer-big" >
          <div class="line-top" style="top: -1px;"></div>
          <div class="line-bottom" style="bottom: -1px;"></div>
        </div>
        <div class="about-card">
          <div class="textbox about2">
            <h2 class="name">Tamás Szilágyi</h2>
            <div class="summary-box">
              <h4 class="summary">Background</h4>
              <p class="fine">
                Started with traditional art and a BA in psychology, design came as a natural intersection of those two things. Started freelancing in 2021 after early one-off projects. Began agency contract work later that year, then transitioned to full-time employment in 2022 while continuing to run my freelance business.
              </p>
            </div>
            <div class="summary-box">
              <h4 class="summary">Design philosophy</h4>
              <p class="fine">Design is a tool for communication. Every element must support the intended message. Functionality and clarity take priority, but strong aesthetics can and should coexist with utility.</p>
            </div>
          </div>

        </div>
        <div class="spacer-mid">
          <div class="line-top" style="top: -1px;"></div>
          <div class="line-bottom" style="bottom: -1px;"></div>
        </div>
        
      </section>

    <section id="kontakt">
      <div class="contact-card ">
        <div class="contact-inner" style="flex-direction: column;">
          <h2 style="display: flex; flex: 1 0 0;">contact</h2>
          <div class="label-box contact" style="justify-content: left;">
            <div class="button-primary"><span class="button-label">Get CV</span></div>
            <div class="button-secondary"><span class="button-label">Email</span></div>
            <div class="button-secondary"><span class="button-label">Call</span></div>
            <div class="button-secondary icon"><img class="button-label" src="/images/linkedin.svg" alt=""></div>
            <div class="button-secondary icon"><img class="button-label" src="/images/telegram.svg" alt=""></div>
            <div class="button-secondary icon"><img class="button-label" src="/images/discord.svg" alt=""></div>
          </div>
        </div>
        <footer>
          <p>© 2025 Tamás Szilágyi. All rights reserved.</p>
          <p>No cookies. No tracking. <a href="">Read more</a></p>
          <p>Built with 11ty and Decap CMS</p>
        </footer>
      </div>
    </section>




  </div>
</section>
</main>






<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/Flip.min.js"></script>
<script src="../js/nav-activate.js"></script>



    
