<!DOCTYPE html>
<html lang="en">
<head>

<meta content="Budapest-based designer blending graphic design, UI/UX, and custom development to create intuitive digital experiences. I specialize in turning complex ideas into expressive visuals and clean, functional interfaces." name="description">
  <meta content="Zylag—Full-stack design by Tamás Szilágyi" property="og:title">
  <meta content="Budapest-based designer blending graphic design, UI/UX, and custom development to create intuitive digital experiences. I specialize in turning complex ideas into expressive visuals and clean, functional interfaces." property="og:description">
  <meta content="/images/og.jpg" property="og:image">
  <meta content="Zylag—Full-stack design by Tamás Szilágyi" property="twitter:title">
  <meta content="Budapest-based designer blending graphic design, UI/UX, and custom development to create intuitive digital experiences. I specialize in turning complex ideas into expressive visuals and clean, functional interfaces." property="twitter:description">
  <meta content="/images/og.jpg" property="twitter:image">
  <meta property="og:type" content="website">
  <meta content="summary_large_image" name="twitter:card">
  <meta name="viewport" content="height=device-height, 
  width=device-width, initial-scale=1.0, 
  minimum-scale=1.0, maximum-scale=1.0, 
  user-scalable=no, target-densitydpi=device-dpi">
<!-- Default favicon (for browsers that don't support media queries in link tags) -->
<link rel="icon" href="/images/favicon.png" type="image/x-icon">
  
<!-- Light mode favicon -->
<link rel="icon" href="/images/favicon-light.png" type="image/x-icon" media="(prefers-color-scheme: light)">

<!-- Dark mode favicon -->
<link rel="icon" href="/images/favicon-dark.png" type="image/x-icon" media="(prefers-color-scheme: dark)">

<title>{{ title }}</title>
<link rel="stylesheet" type="text/css" href="/normalize.css">
<link rel="stylesheet" type="text/css" href="/styles.css">
<link rel="stylesheet" href="https://use.typekit.net/alq7grm.css">
<link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap" rel="stylesheet">


<!-- Netlify requirement -->
<script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

</head>
<body data-barba="wrapper">
    {{ content | safe }}

    <script src="https://unpkg.com/@barba/core"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
    <script type="module" src="/js/scripts.js" defer></script>
</body>