---
title: Zylag Portfolio
layout: 'base.njk'
---
<main data-barba="container" data-barba-namespace="home">
<div class="nav">
  <a class="nav-item works" href="#works">works</a>
  <a class="nav-item about" href="#about">about</a>
  <a class="nav-item kontakt" href="#kontakt">contact</a>
</div>
<div class="top-blur"></div>
<div class="content">
    <div class="header">
        <div class="column-header-logo">
            <a href="/" class="logo"><img style="width: 48px;" src="images/logo.svg"></a>
        </div>
        <div class="column-header">
            <div class="header-int">
                <div class="header-text">
                    <h1 class="header-text-int hi" >Hi, I'm zylag</h1>
                    <p class="header-text-int desc">Budapest-based designer blending graphic design, UI/UX, and custom development to create intuitive digital experiences. I specialize in turning complex ideas into expressive visuals and clean, functional interfaces.</p>
                </div>
                <div class="header-buttons">
                    <div class="header-buttons-wrap">
                      <div class="button-secondary" data-tag="Web"><span class="button-label">Web</span></div>
                      <div class="button-secondary" data-tag="UIUX"><span class="button-label">UIUX</span></div>
                      <div class="button-secondary" data-tag="Merch"><span class="button-label">Merch</span></div>
                      <div class="button-secondary" data-tag="Logo"><span class="button-label">Logo</span></div>
                      <div class="button-secondary" data-tag="Web3"><span class="button-label">Web3</span></div>
                      <div class="button-secondary" data-tag="Branding"><span class="button-label">Branding</span></div>
                      <div class="button-secondary" data-tag="Frontend"><span class="button-label">Frontend</span></div>
                      <div class="button-secondary" data-tag="Fonts"><span class="button-label">Fonts</span></div>
                      <div class="button-secondary" data-tag="Case study"><span class="button-label">Case study</span></div>
                    </div>
                </div>
            </div>
            <div class="line-header"></div>
        </div>
    </div>
</div>

<section class="section" id="works">
  <div class="column-logo"></div>
  <div class="column-main">
    {% set posts = collections.portfolio | reverse %}
    {% for post in posts %}
      <a href="{{ post.url }}" class="article-highlight" data-highlight="{{ post.data.highlight }}">
        {# === If video-preview is provided === #}
        {% if post.data["video-preview"] %}
          <canvas class="highlight-canvas" data-sprite="/static{{ post.data["video-preview"] }}"></canvas>
        {% elif post.data["image-preview"] %}
          <img class="highlight-image" src="/static{{ post.data["image-preview"] }}" alt="Preview for {{ post.data.title }}">
        {% endif %}
        <div class="textbox highlight">
          <h2>{{ post.data.title }}</h2>
          <div class="label-box">
            {% if post.data.tags %}
              {% for tag in post.data.tags %}
                <div class="highlight-pill">{{ tag }}</div>
              {% endfor %}
            {% endif %}
          </div>
          <p>{{ post.data.preview }}</p>
          <div class="button-primary"><span class="button-label">Read</span></div>
        </div>
      </a>
    {% endfor %}
        
        



<div class="article-box">
  {% for post in posts %}
    <a href="{{ post.url }}" class="article-card" data-highlight="{{ post.data.highlight }}">

      {% if post.data["video-preview"] %}
        <canvas class="article-canvas" data-sprite="/static{{ post.data["video-preview"] }}"></canvas>
      {% elif post.data["image-preview"] %}
        <img class="article-image" src="/static{{ post.data["image-preview"] }}" alt="Preview for {{ post.data.title }}">
      {% endif %}

      <h3 class="card-title">{{ post.data.title }}</h3>
      <div class="label-box">
        {% if post.data.tags %}
          {% for tag in post.data.tags %}
            <div class="label-pill">{{ tag }}</div>
          {% endfor %}
        {% endif %}
      </div>
      <p class="card-preview">{{ post.data.preview }}</p>
      <div class="button-primary"><span class="button-label">Read</span></div>
    </a>
  {% endfor %}
</div>




    </div>
  </section>

<div class="section">
  <div class="column-logo"></div>
  <div class="column-main static">
    <section id="about">
      <div class="spacer-big" >
        <div class="line-top" style="top: -1px;"></div>
        <div class="line-bottom" style="bottom: -1px;"></div>
      </div>
      <div class="about-card">
        <div class="textbox about">
          <h2 class="name">Tamás Szilágyi</h2>
          <div class="summary-box">
            <h4 class="summary">Background</h4>
            <p class="fine">
              Started with traditional art and a BA in psychology, design came as a natural intersection of those two things. Started freelancing in 2021 after early one-off projects. Began agency contract work later that year, then transitioned to full-time employment in 2022 while continuing to run my freelance business.
            </p>
          </div>
          <div class="summary-box">
            <h4 class="summary">Design philosophy</h4>
            <p class="fine">Design is a tool for communication. Every element must support the intended message. Functionality and clarity take priority, but strong aesthetics can and should coexist with utility.</p>
          </div>
        </div>
        <div class="about-image-container">
        </div>
      </div>
      <div class="spacer-mid" >

      </div>
      <div class="testimonial-wrapper">

      
        <div class="testimonial-track">
          {% for post in collections.testimonials %}
            <div class="testimonial-card">
              <img src="images/quote.svg" alt="">
              <p style="flex: 1 0 0;">{{ post.data.text }}</p>
              <div class="testimonial-signature">
                <img src="/static{{ post.data.icon }}" alt="">
                <div class="testimonial-signature-inner">
                  <p style="font-weight: bold;">{{ post.data.name }}</p>
                  <p>{{ post.data.position }} — {{ post.data.affiliation }}</p>
                </div>
              </div>
            </div>
          {% endfor %}
          <!-- Clone the testimonials to create seamless loop -->
          {% for post in collections.testimonials %}
            <div class="testimonial-card">
              <img src="images/quote.svg" alt="">
              <p style="flex: 1 0 0;">{{ post.data.text }}</p>
              <div class="testimonial-signature">
                <img src="/static{{ post.data.icon }}" alt="">
                <div class="testimonial-signature-inner">
                  <p style="font-weight: bold;">{{ post.data.name }}</p>
                  <p>{{ post.data.position }} — {{ post.data.affiliation }}</p>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      

      </div>
      
    </section>
    <section id="kontakt">
      <div class="spacer-big" >
        <div class="line-top" style="top: -1px;"></div>
        <div class="line-bottom" style="bottom: -1px;"></div>
      </div>
      <div class="contact-card">
        <div class="contact-inner">
          <h2 style="display: flex; flex: 1 0 0;">contact</h2>
          <div class="label-box contact" >
            <div class="button-primary"><span class="button-label">Get CV</span></div>
            <div class="button-secondary"><span class="button-label">Email</span></div>
            <div class="button-secondary"><span class="button-label">Call</span></div>
            <div class="button-secondary icon"><img class="button-label" src="images/linkedin.svg" alt=""></div>
            <div class="button-secondary icon"><img class="button-label" src="images/telegram.svg" alt=""></div>
            <div class="button-secondary icon"><img class="button-label" src="images/discord.svg" alt=""></div>
          </div>
        </div>
        <footer>
          <p>© 2025 Tamás Szilágyi. All rights reserved.</p>
          <p>No cookies. No tracking. <a href="">Read more</a></p>
          <p>Built with 11ty and Decap CMS</p>
        </footer>
      </div>
    </section>





    </div>
  </div>
</div>
</main>




<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/Flip.min.js"></script>





    
